flows.json
[{"id":"12a05964.d0eaf7","type":"tab","label":"Project ","disabled":false,"info":""},{"id":"61165c05.3d66b4","type":"ui_form","z":"12a05964.d0eaf7","name":"Dashboard Sign-In","label":"","group":"337fcdff.513f92","order":1,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":1660,"wires":[["b4f49830.f87958","ba286fd1.769da","25363653.949f9a"]]},{"id":"4ae6c539.dfde9c","type":"debug","z":"12a05964.d0eaf7","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":818.0000915527344,"y":1601.0000076293945,"wires":[]},{"id":"b4f49830.f87958","type":"function","z":"12a05964.d0eaf7","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":449.00000762939453,"y":1609.9999961853027,"wires":[["4ae6c539.dfde9c"]]},{"id":"ba286fd1.769da","type":"function","z":"12a05964.d0eaf7","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"jerry\", password : \"jerry\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":462.0000457763672,"y":1655.000005722046,"wires":[["745780f5.a2892"]]},{"id":"745780f5.a2892","type":"switch","z":"12a05964.d0eaf7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":631.0000419616699,"y":1685.9999885559082,"wires":[["b1766afe.624f88"],["94dcfaa4.660728"],["1cf2a673.93570a"],["46cb3094.12c2d"]]},{"id":"b1766afe.624f88","type":"function","z":"12a05964.d0eaf7","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_Mysore\",\"Dashboard_Delhi\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800.999885559082,"y":1641.9999980926514,"wires":[["c5502a9b.371488"]]},{"id":"94dcfaa4.660728","type":"function","z":"12a05964.d0eaf7","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":821.9998931884766,"y":1679,"wires":[["3b69f1c6.5ab99e"]]},{"id":"1cf2a673.93570a","type":"function","z":"12a05964.d0eaf7","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":822.9999618530273,"y":1716.000012397766,"wires":[["3b69f1c6.5ab99e"]]},{"id":"c5502a9b.371488","type":"ui_ui_control","z":"12a05964.d0eaf7","name":"Go to Control Group","x":1100,"y":1620,"wires":[[]]},{"id":"3b69f1c6.5ab99e","type":"ui_toast","z":"12a05964.d0eaf7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1120,"y":1660,"wires":[[]]},{"id":"a3ae6abb.8bef78","type":"comment","z":"12a05964.d0eaf7","name":"Time Out and Redirect (15 secs)","info":"","x":750,"y":1820,"wires":[]},{"id":"8347c837.7cf638","type":"inject","z":"12a05964.d0eaf7","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1980,"wires":[["3117ac24.cb2644","2486200.f90f2e"]]},{"id":"3117ac24.cb2644","type":"function","z":"12a05964.d0eaf7","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 45000; //45 secs\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":418.0000305175781,"y":1946.000015258789,"wires":[["630565.660d9a9c"]]},{"id":"630565.660d9a9c","type":"switch","z":"12a05964.d0eaf7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":588.0000648498535,"y":1944.000015258789,"wires":[["751c8889.5b5658"],["7216d940.468158"],["61b377c6.04ffa8"]]},{"id":"751c8889.5b5658","type":"function","z":"12a05964.d0eaf7","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please sign in again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743.9999771118164,"y":1917.0000190734863,"wires":[["f52b4f5.4ab4bb","63925133.cc357"]]},{"id":"f52b4f5.4ab4bb","type":"ui_toast","z":"12a05964.d0eaf7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Session Timeout","name":"Time-Out Dialog","x":940,"y":1880,"wires":[[]]},{"id":"f5577b1e.3d9d08","type":"ui_ui_control","z":"12a05964.d0eaf7","name":"Go to Signin Group","x":1190,"y":1940,"wires":[[]]},{"id":"63925133.cc357","type":"function","z":"12a05964.d0eaf7","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_Mysore\",\"Dashboard_Delhi\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":941.9999923706055,"y":1932.0000076293945,"wires":[["f5577b1e.3d9d08"]]},{"id":"2486200.f90f2e","type":"function","z":"12a05964.d0eaf7","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((45000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":481.99999237060547,"y":2092.0000076293945,"wires":[[]]},{"id":"f116b6f6.031f78","type":"ui_ui_control","z":"12a05964.d0eaf7","name":"Stay in Sensor Group","x":1163.4999675750732,"y":1993.0000038146973,"wires":[[]]},{"id":"7216d940.468158","type":"function","z":"12a05964.d0eaf7","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_Mysore\",\"Dashboard_Delhi\"],\n    hide : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":771.9999923706055,"y":1972.0000076293945,"wires":[["f116b6f6.031f78"]]},{"id":"61b377c6.04ffa8","type":"function","z":"12a05964.d0eaf7","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":761.9999923706055,"y":2032.0000076293945,"wires":[["3ea3505a.cf4b8"]]},{"id":"3ea3505a.cf4b8","type":"ui_ui_control","z":"12a05964.d0eaf7","name":"Go to Signin Group","x":1133.4999675750732,"y":2033.0000038146973,"wires":[[]]},{"id":"25363653.949f9a","type":"debug","z":"12a05964.d0eaf7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":431.5000419616699,"y":1720.534755706787,"wires":[]},{"id":"2a51c67c.32903a","type":"ui_toast","z":"12a05964.d0eaf7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":1100,"y":1720,"wires":[[]]},{"id":"46cb3094.12c2d","type":"function","z":"12a05964.d0eaf7","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":812.4443283081055,"y":1753.1215286254883,"wires":[["2a51c67c.32903a"]]},{"id":"8cd550a0.34f6e","type":"comment","z":"12a05964.d0eaf7","name":"Login Page","info":"","x":730,"y":1540,"wires":[]},{"id":"cf46eb58.040138","type":"inject","z":"12a05964.d0eaf7","name":"Start N2 test","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"text","v":"null","vt":"str"},{"p":"audio","v":"null","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"mq135","payload":"","payloadType":"date","x":240,"y":120,"wires":[["fb9ec68c.7fd118"]]},{"id":"3f2a3195.512dae","type":"inject","z":"12a05964.d0eaf7","name":"Start CO test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"mq9","payload":"","payloadType":"date","x":240,"y":180,"wires":[["f0d714e8.619828"]]},{"id":"3f35959f.73392a","type":"inject","z":"12a05964.d0eaf7","name":"Start PM 2.5 test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"pm2.5","payload":"","payloadType":"date","x":230,"y":240,"wires":[["4c516b21.0aaa84"]]},{"id":"50a608a2.22b348","type":"function","z":"12a05964.d0eaf7","name":"MQ135","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    {msg.payload=getRandomInt(300,500);\n    return msg}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["452e79e6.7df0a8"]]},{"id":"34b088b7.119418","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"a97ab4f9.e17188","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":320,"wires":[]},{"id":"b04ee9a9.006888","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"a97ab4f9.e17188","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":360,"wires":[[]]},{"id":"f0d714e8.619828","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"CO Test","tooltip":"","group":"225315a8.8740ea","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":180,"wires":[["2d883c43.6d6c44"]]},{"id":"9f1b9fbf.65697","type":"ui_text","z":"12a05964.d0eaf7","group":"a97ab4f9.e17188","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1250,"y":420,"wires":[]},{"id":"93dedff8.90e7f","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":400,"wires":[["9f1b9fbf.65697"]]},{"id":"2d883c43.6d6c44","type":"function","z":"12a05964.d0eaf7","name":"MQ9","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    {msg.payload=getRandomInt(30,50);\n    return msg}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["452e79e6.7df0a8"]]},{"id":"f1f2449f.57fdb8","type":"function","z":"12a05964.d0eaf7","name":"PM 2.5 Sensor","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    msg.payload=getRandomInt(300,500);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["452e79e6.7df0a8"]]},{"id":"4c516b21.0aaa84","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"PM2.5 test","tooltip":"","group":"225315a8.8740ea","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":240,"wires":[["f1f2449f.57fdb8"]]},{"id":"fb9ec68c.7fd118","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"N2 test","tooltip":"","group":"225315a8.8740ea","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":120,"wires":[["50a608a2.22b348"]]},{"id":"452e79e6.7df0a8","type":"function","z":"12a05964.d0eaf7","name":"Arduino","func":"if (msg.topic =='mq135')\n    {   if (msg.payload>300){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:NO2 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>200){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:NO2 values high'\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>150){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>100){\n        msg.text='Unhealthy for sensitive groups';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>51){\n        msg.text='Moderate';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>0){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}\nelse if (msg.topic =='mq9')\n    {   if (msg.payload>100){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:CO2 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>70){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:C02 values high'\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>45){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        \n        else if (msg.payload<=45){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}\nelse if (msg.topic =='pm2.5')\n    {   if (msg.payload>300){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:PM2.5 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>200){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:PM2.5 values high'\n        return [msg,msg,msg]\n    }\n       else if (msg.payload>150){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>100){\n        msg.text='Unhealthy for sensitive groups';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>51){\n        msg.text='Moderate';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>0){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":840,"y":240,"wires":[["104f9f5e.eeaf51"],[],["491d8c39.af62d4"]]},{"id":"104f9f5e.eeaf51","type":"debug","z":"12a05964.d0eaf7","name":"LED output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"text","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"491d8c39.af62d4","type":"function","z":"12a05964.d0eaf7","name":"Output to Dashboard","func":"if (msg.topic =='mq135')\n    { \n        msg.payload=msg.temp;\n        return [msg,null,null]\n    }\nif (msg.topic =='mq9')\n    { \n        msg.payload=msg.temp;\n        return [null,msg,null]\n    }\nif (msg.topic =='pm2.5')\n    { \n        msg.payload=msg.temp;\n        return [null,null,msg]\n    }\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":220,"y":433,"wires":[["1a8a4688.966869"],["12dc6068.bc715"],["fda9c0bd.75e79"]]},{"id":"1a8a4688.966869","type":"function","z":"12a05964.d0eaf7","name":"MQ135","func":"if(msg.payload>200){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[["b04ee9a9.006888","34b088b7.119418","e8d10d4.fe1d7f"]]},{"id":"77654e4a.6df52","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"6618e924.c83258","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":500,"wires":[]},{"id":"280d8a8c.9d5bc6","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"6618e924.c83258","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":534,"wires":[[]]},{"id":"9365cad.b439438","type":"ui_text","z":"12a05964.d0eaf7","group":"6618e924.c83258","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1270,"y":568,"wires":[]},{"id":"12dc6068.bc715","type":"function","z":"12a05964.d0eaf7","name":"MQ9","func":"if(msg.payload>70){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":528,"wires":[["77654e4a.6df52","280d8a8c.9d5bc6","405aae19.9ca42"]]},{"id":"5cb5e28f.62f17c","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"63a0f304.fde45c","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":660,"wires":[]},{"id":"6796de54.97605","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"63a0f304.fde45c","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":695,"wires":[[]]},{"id":"c48687ff.86c6c8","type":"ui_text","z":"12a05964.d0eaf7","group":"63a0f304.fde45c","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1270,"y":729,"wires":[]},{"id":"fda9c0bd.75e79","type":"function","z":"12a05964.d0eaf7","name":"PM2.5","func":"if(msg.payload>200){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":669,"wires":[["5cb5e28f.62f17c","6796de54.97605","f5cbd886.a52c88"]]},{"id":"9922b740.82b698","type":"play audio","z":"12a05964.d0eaf7","name":"Alert","voice":"3","x":1090,"y":240,"wires":[]},{"id":"e8d10d4.fe1d7f","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":420,"wires":[["93dedff8.90e7f"],["42b9e7aa.e95de8"]]},{"id":"42b9e7aa.e95de8","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":440,"wires":[["9f1b9fbf.65697"]]},{"id":"405aae19.9ca42","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":580,"wires":[["eeb2181e.a20508"],["a1a09d46.e60a8"]]},{"id":"a1a09d46.e60a8","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":600,"wires":[["9365cad.b439438"]]},{"id":"eeb2181e.a20508","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":560,"wires":[["9365cad.b439438"]]},{"id":"e6f0d553.ddfe98","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":760,"wires":[["c48687ff.86c6c8"]]},{"id":"50762ab1.195194","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":720,"wires":[["c48687ff.86c6c8"]]},{"id":"f5cbd886.a52c88","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":740,"wires":[["50762ab1.195194"],["e6f0d553.ddfe98"]]},{"id":"321f57ad.129e58","type":"comment","z":"12a05964.d0eaf7","name":"Delhi","info":"","x":190,"y":60,"wires":[]},{"id":"2256c754.116718","type":"inject","z":"12a05964.d0eaf7","name":"Start N2 test","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"text","v":"null","vt":"str"},{"p":"audio","v":"null","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"mq135","payload":"","payloadType":"date","x":260,"y":840,"wires":[["fb9c6854.daa128"]]},{"id":"6e143f27.47984","type":"inject","z":"12a05964.d0eaf7","name":"Start CO test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"mq9","payload":"","payloadType":"date","x":260,"y":900,"wires":[["1b3845fb.41996a"]]},{"id":"8626a025.1eedf","type":"inject","z":"12a05964.d0eaf7","name":"Start PM 2.5 test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"pm2.5","payload":"","payloadType":"date","x":250,"y":960,"wires":[["3ab95bf2.be6054"]]},{"id":"6a59550f.93250c","type":"function","z":"12a05964.d0eaf7","name":"MQ135","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    {msg.payload=getRandomInt(20,100)\n        return msg;\n    }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":840,"wires":[["e5864e49.60b43"]]},{"id":"66f1df15.b5c65","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"47d84ae4.0440c4","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1040,"wires":[]},{"id":"80e78119.1d331","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"47d84ae4.0440c4","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":1080,"wires":[[]]},{"id":"1b3845fb.41996a","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"CO Test","tooltip":"","group":"37461675.7dfcea","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":900,"wires":[["290bf3ab.ff95fc"]]},{"id":"f1afe6d4.ef2fc8","type":"ui_text","z":"12a05964.d0eaf7","group":"47d84ae4.0440c4","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1270,"y":1140,"wires":[]},{"id":"d303bd0.42aae4","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1140,"wires":[["f1afe6d4.ef2fc8"]]},{"id":"290bf3ab.ff95fc","type":"function","z":"12a05964.d0eaf7","name":"MQ9","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    {msg.payload=getRandomInt(20,30);\n    return msg;}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":900,"wires":[["e5864e49.60b43"]]},{"id":"eb4e459e.fff188","type":"function","z":"12a05964.d0eaf7","name":"PM 2.5 Sensor","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nif (msg.payload===true)\n    msg.payload=getRandomInt(120,150);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":960,"wires":[["e5864e49.60b43"]]},{"id":"3ab95bf2.be6054","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"PM2.5 test","tooltip":"","group":"37461675.7dfcea","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":960,"wires":[["eb4e459e.fff188"]]},{"id":"fb9c6854.daa128","type":"ui_switch","z":"12a05964.d0eaf7","name":"","label":"N2 test","tooltip":"","group":"37461675.7dfcea","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":840,"wires":[["6a59550f.93250c"]]},{"id":"e5864e49.60b43","type":"function","z":"12a05964.d0eaf7","name":"Arduino","func":"if (msg.topic =='mq135')\n    {   if (msg.payload>300){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:NO2 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>200){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:NO2 values high'\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>150){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>100){\n        msg.text='Unhealthy for sensitive groups';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>51){\n        msg.text='Moderate';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>0){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}\nelse if (msg.topic =='mq9')\n    {   if (msg.payload>100){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:CO2 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>70){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:C02 values high'\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>45){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        \n        else if (msg.payload<=45){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}\nelse if (msg.topic =='pm2.5')\n    {   if (msg.payload>300){\n        msg.text='Hazardous';\n        msg.temp=msg.payload;\n        msg.payload='Alert:PM2.5 values high';\n        return [msg,msg,msg]\n    }\n        else if (msg.payload>200){\n        msg.text='Very Unhealthy';\n        msg.temp=msg.payload;\n        msg.payload='Alert:PM2.5 values high'\n        return [msg,msg,msg]\n    }\n       else if (msg.payload>150){\n        msg.text='Unhealthy';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>100){\n        msg.text='Unhealthy for sensitive groups';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>51){\n        msg.text='Moderate';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n        else if (msg.payload>0){\n        msg.text='Good';\n        msg.temp=msg.payload;\n        return [msg,null,msg]\n    }\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":860,"y":960,"wires":[["95a7a917.e558c8"],["ccf251e2.9d043"],["9cbbadd9.9829b"]]},{"id":"95a7a917.e558c8","type":"debug","z":"12a05964.d0eaf7","name":"LED output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"text","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":920,"wires":[]},{"id":"9cbbadd9.9829b","type":"function","z":"12a05964.d0eaf7","name":"Output to Dashboard","func":"if (msg.topic =='mq135')\n    { \n        msg.payload=msg.temp;\n        return [msg,null,null]\n    }\nif (msg.topic =='mq9')\n    { \n        msg.payload=msg.temp;\n        return [null,msg,null]\n    }\nif (msg.topic =='pm2.5')\n    { \n        msg.payload=msg.temp;\n        return [null,null,msg]\n    }\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":240,"y":1153,"wires":[["4d109e88.cc2d3"],["addb6558.9e4de8"],["2dc41e8b.7d3752"]]},{"id":"4d109e88.cc2d3","type":"function","z":"12a05964.d0eaf7","name":"MQ135","func":"if(msg.payload>200){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    msg.payload={\"Value\":msg.payload};\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    msg.payload={\"Value\":msg.payload};\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1140,"wires":[["7f49833d.80306c","e0eb6c5d.77451","7def165b.00d3b8","14d9dda.2786e22"]]},{"id":"24b581eb.18ff6e","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"deb01ba5.10d438","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":1260,"wires":[]},{"id":"d10eb171.8626e","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"deb01ba5.10d438","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":1294,"wires":[[]]},{"id":"d0f3c04a.c020b","type":"ui_text","z":"12a05964.d0eaf7","group":"deb01ba5.10d438","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1290,"y":1328,"wires":[]},{"id":"addb6558.9e4de8","type":"function","z":"12a05964.d0eaf7","name":"MQ9","func":"if(msg.payload>70){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1288,"wires":[["24b581eb.18ff6e","d10eb171.8626e","9bc98b4d.2e9118"]]},{"id":"a1082ef.6621fd","type":"ui_gauge","z":"12a05964.d0eaf7","name":"","group":"a4932daa.8dea8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":1420,"wires":[]},{"id":"7893fdbf.37ffd4","type":"ui_chart","z":"12a05964.d0eaf7","name":"","group":"a4932daa.8dea8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":1455,"wires":[[]]},{"id":"1002aac5.f3d6e5","type":"ui_text","z":"12a05964.d0eaf7","group":"a4932daa.8dea8","order":1,"width":6,"height":1,"name":"Colored text","label":"<font color= {{msg.strongcolor}} > </font>","format":"<font color= {{msg.color}} > {{msg.text}} </font>","layout":"col-center","x":1290,"y":1489,"wires":[]},{"id":"2dc41e8b.7d3752","type":"function","z":"12a05964.d0eaf7","name":"PM2.5","func":"if(msg.payload>200){\n    msg.text = 'Alert:High';\n    msg.switch = 1;\n    return msg;\n}\nelse {\n    msg.text = 'Normal';\n    msg.switch = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1429,"wires":[["a1082ef.6621fd","7893fdbf.37ffd4","7a06c729.b8d628"]]},{"id":"ccf251e2.9d043","type":"play audio","z":"12a05964.d0eaf7","name":"Alert","voice":"3","x":1110,"y":960,"wires":[]},{"id":"7f49833d.80306c","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1140,"wires":[["d303bd0.42aae4"],["42e53be3.7a7cb4"]]},{"id":"42e53be3.7a7cb4","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1180,"wires":[["f1afe6d4.ef2fc8"]]},{"id":"9bc98b4d.2e9118","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1340,"wires":[["63d72b26.3a0804"],["6ad03768.8f06b8"]]},{"id":"6ad03768.8f06b8","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1360,"wires":[["d0f3c04a.c020b"]]},{"id":"63d72b26.3a0804","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1320,"wires":[["d0f3c04a.c020b"]]},{"id":"84908f1b.aa9ef","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1520,"wires":[["1002aac5.f3d6e5"]]},{"id":"6a0f511b.26fdf","type":"change","z":"12a05964.d0eaf7","name":"Set colors","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"strongcolor","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1480,"wires":[["1002aac5.f3d6e5"]]},{"id":"7a06c729.b8d628","type":"switch","z":"12a05964.d0eaf7","name":"Color","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1500,"wires":[["6a0f511b.26fdf"],["84908f1b.aa9ef"]]},{"id":"cf47ed26.61789","type":"comment","z":"12a05964.d0eaf7","name":"Mysore","info":"","x":210,"y":780,"wires":[]},{"id":"ac0533eb.d5dfb","type":"function","z":"12a05964.d0eaf7","name":"","func":"msg.payload = { group: {\n     hide : [\"Dashboard_Mysore\",\"Dashboard_Delhi\"],\n    show : [\"Dashboard_Signin\"]\n    }}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":60,"y":1580,"wires":[["222ea56f.23f1ca"]]},{"id":"222ea56f.23f1ca","type":"ui_ui_control","z":"12a05964.d0eaf7","name":"","events":"all","x":60,"y":1660,"wires":[["61165c05.3d66b4"]]},{"id":"45e5631f.dc47fc","type":"inject","z":"12a05964.d0eaf7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":70,"y":1500,"wires":[["ac0533eb.d5dfb"]]},{"id":"e0eb6c5d.77451","type":"http request","z":"12a05964.d0eaf7","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://demo.thingsboard.io/api/v1/QyXLfVSETTM67KD5UMji/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":1200,"wires":[[]]},{"id":"7def165b.00d3b8","type":"http request","z":"12a05964.d0eaf7","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://demo.thingsboard.io/api/v1/QyXLfVSETTM67KD5UMji/attributes","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":1240,"wires":[[]]},{"id":"14d9dda.2786e22","type":"function","z":"12a05964.d0eaf7","name":"Value","func":"msg.payload=msg.payload.Value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1060,"wires":[["80e78119.1d331","66f1df15.b5c65"]]},{"id":"337fcdff.513f92","type":"ui_group","z":"","name":"Signin","tab":"b76590a8.87045","order":1,"disp":true,"width":"6","collapse":false},{"id":"a97ab4f9.e17188","type":"ui_group","z":"","name":"Delhi: MQ135","tab":"ed333198.56c3e","order":1,"disp":true,"width":6,"collapse":false},{"id":"225315a8.8740ea","type":"ui_group","z":"","name":"Delhi","tab":"b76590a8.87045","order":2,"disp":true,"width":"6","collapse":false},{"id":"6618e924.c83258","type":"ui_group","z":"","name":"Delhi:MQ9","tab":"ed333198.56c3e","order":2,"disp":true,"width":6,"collapse":false},{"id":"63a0f304.fde45c","type":"ui_group","z":"","name":"Delhi:PM2.5","tab":"ed333198.56c3e","order":3,"disp":true,"width":6,"collapse":false},{"id":"47d84ae4.0440c4","type":"ui_group","z":"","name":"Mysore:MQ135","tab":"ed333198.56c3e","order":4,"disp":true,"width":6,"collapse":false},{"id":"37461675.7dfcea","type":"ui_group","z":"","name":"Mysore","tab":"b76590a8.87045","order":3,"disp":true,"width":"6","collapse":false},{"id":"deb01ba5.10d438","type":"ui_group","z":"","name":"Mysore:MQ9","tab":"ed333198.56c3e","order":5,"disp":true,"width":6,"collapse":false},{"id":"a4932daa.8dea8","type":"ui_group","z":"","name":"Mysore:PM2.5","tab":"ed333198.56c3e","order":6,"disp":true,"width":6,"collapse":false},{"id":"b76590a8.87045","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"ed333198.56c3e","type":"ui_tab","z":"","name":"Public Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]